lead-enricher/workflows/01_import_batch.json
{
  "name": "01_import_batch",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-batch",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "companies",
              "value": "={{ $json.body.companies || [{ name: 'Test Corp' }] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "fieldToSplitOut": "companies",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [400, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher-api:8000/api/import",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Core API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Send to Core API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
