lead-enricher/workflows/02_resolve_company.json
{
  "name": "02_resolve_company",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher-api:8000/api/resolve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company_data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request: Resolve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 0.8
            }
          ]
        }
      },
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "resolution_status",
              "value": "SUCCESS"
            }
          ]
        },
        "options": {}
      },
      "name": "Resolved",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, -100]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "resolution_status",
              "value": "AMBIGUOUS"
            }
          ]
        },
        "options": {}
      },
      "name": "Ambiguous",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request: Resolve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Resolve": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Resolved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ambiguous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
