lead-enricher/workflows/05_extract_sites.json
{
  "name": "05_extract_sites",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher-api:8000/api/sites/extract",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company_id",
              "value": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request: Sites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sites",
              "value": "={{ JSON.stringify($json.sites) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request: Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Sites": {
      "main": [
        [
          {
            "node": "Format Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
