lead-enricher/workflows/07_qa_verify.json
{
  "name": "07_qa_verify",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher-api:8000/api/qa/verify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company_id",
              "value": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request: QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "review_status",
              "value": "={{ $json.review_status }}"
            },
            {
              "name": "flags",
              "value": "={{ JSON.stringify($json.flags || []) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request: QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: QA": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
