lead-enricher/workflows/08_export_results.json
{
  "name": "08_export_results",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://lead-enricher-api:8000/api/export",
        "options": {}
      },
      "name": "HTTP Request: Export",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "downloadable_url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "record_count",
              "value": "={{ $json.count }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Export Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request: Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Export": {
      "main": [
        [
          {
            "node": "Format Export Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
